:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondare-bgr-color: #2f303a;
}

/* цвет и фон страницы */
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

/* убираем точки в списке */
.list {
  list-style: none;
}

/* оформляем логотип */
.logo {
  color: #2196f3;
}

.logo-nav {
  color: #000000;
}

/* оформляем ссылки внутренней навигации*/
.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* оформляем ссылки почты и телефона */
.mailtel-nav .link {
  color: var(--primary-text-color);
}

.mailtel-nav .link:hover,
.mailtel-nav .link:focus {
  color: var(--accent-color);
}

/* секция герой */
.hero {
  background: var(--secondare-bgr-color);
}

.hero-title {
  color: var(--primary-white-color);
}

.hero-button {
  background: var(--accent-color);
  color: var(--primary-white-color);
}

/* секции */

.section-title {
  color: var(--title-text-color);
}

.name {
  color: var(--title-text-color);
}

.team {
  background: #f5f4fa;
}

/* футер */

.footer {
  background: var(--secondare-bgr-color);
}

.logo-footer {
  color: #ffffff;
}

.address .link {
  color: rgba(255, 255, 255, 0.6);
}

.link-address {
  color: var(--primary-white-color);
}

.link-address:hover,
.link-address:focus {
  color: var(--accent-color);
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}
